.content {
    .img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 255px;
        height: 260px;
        
        padding: auto;
        box-shadow: 0 0 5px rgb(228, 228, 228);
    }
  .text {
    margin: 1rem 15rem;
    text-align: center;
    h3 {
      margin-bottom: 1rem;
    }
  }

  .api {
    width: 255px;
    margin-bottom: 1rem;
    text-align: center;
  }

  .column {
    display: flex;
    justify-content: space-between;
    margin: 0 8rem;
    h6 {
      font-size: 18px;
    }
  }
}
