.btnDark {
  border: 1px solid $darkBlue;
  background-color: $darkBlue;
  color: white;
  font-size: 14px;
}
.btnLight {
  border: 1px solid $darkBlue;
  color: $darkBlue;
  font-size: 14px;
}
.btn {
  padding: 12px 18px;
  margin: 0 12px;
  cursor: pointer;
}

p {
  font-size: 16px;
  color: $grey;
}
h3 {
  font-size: 32px;
  color: $lightBlack;
}
