.introSection {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    // width: 100vw;
    height: 100%;
  }

  background-color: $background;
  align-items: center;

  display: flex;
  justify-content: center;
  .box {
    padding: 134px 0px;
    width: 730px;
    text-align: center;
    .text {
      padding-bottom: 68px;
      // margin: 0 2rem;
      h2 {
        margin-bottom: 2rem;
        color: $lightBlack;
        font-size: 44px;
      }
      p {
        margin-bottom: 1rem;
        font-size: 16px;
        margin: 0 10px;
      }
    }
    .footage {
    }
  }

  @media (max-width: 576px) {
    .text {
      // background-color: red;
      margin: 0 2rem;
    }
    .box {
      padding: 4rem 0px;
    }
  }
  @media (max-width: 435px) {
    .buttons {
      
      a {
        display: block;
        margin: 0.5rem 10vw;
        // background-color: red;
        // border-radius: 1rem;
      }
    }
  }
}
//jst 8000 ba byc 730
