.searchMovie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  input {
    padding: 1rem 1rem 1rem 3rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    width: 60vw;
    color: $lightBlack;
    font-weight: 500;
    font-size: 1.2rem;
  }
  input::placeholder {
    color: #737b7d;
  }
  .itemList {
    transition: 2s;
    width: 60vw;
    position: relative;
    ul {
      background-color: white;
      position: absolute;
      width: 60vw;
      z-index: 2;
      box-shadow: 1px 3px 10px black;
      border-radius: 5px;
      margin: 5px 0;
      margin-bottom: 10rem;

      max-height: 200px;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .clickElem {
    li {
      list-style-type: none;
      color: black;
      cursor: pointer;
      text-decoration: none;
      border-radius: 5px;
      padding: 1rem 2rem;
      transition: background-color 0.3s;
      &:hover {
        background-color: #9b9bac;
      }
    }
  }

  .filmArea {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    .photoContainter {
      width: 255px;

      .cover {
        width: 255px;
      }
    }
    .desc {
      h2 {
        text-align: center;
      }
      p {
        color: black;
      }
    }
  }
}
