* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
body {
  font-family: 'Mulish', sans-serif;
}

@import 'var';
@import 'nav';
@import 'global';
@import 'intro';
@import 'searchMovie';
@import 'topMovies';
